.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  font-weight: 700;
}

.App-intro {
  font-size: large;
}

.table-adjust {
  width: 55%;
  margin: 20px auto;
  text-align: center;
}

.buttons-adjust {
  margin: 50px 0px 25px 30px;
  font-weight: 600;
}

.button-section {
  display: flex;
  justify-content: center;
}

.delete-button {
  font-weight: 600;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
